@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Agbalumo;
}
body{
    background-image: linear-gradient(to right ,#b1282f,#6c3175);
    /* height: 100vh; */
}
.welcome h1{
    text-align: center;
    color: #fff;
    
    /* left: 50%; */
}
/* .animat{
    animation: Roll 1s ease-in-out;
} */
@keyframes Roll {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
    
}
/* Form */
.form,.form2{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 4rem 1rem 4rem;
    border-radius: 10px;
    position: absolute;
    right: 34%;
    top: -16rem;
    z-index: 2;
    transition: 1s;
}

.form h2,.form2 h2{
    color: #b1282f;
    text-align: center;
    padding-bottom: 14px;
    text-transform: uppercase;
}
.form input,.form2 input{
    height: 40px;
    width: 300px;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    border:  2px solid #ae6d8d;
    font-size: 22px;
    color: #b1282f;
    padding-left: 10px;
}
.form input:focus,.form2 input:focus{
    outline: none;
    
}
.form button,.form2 button{
    background-color: #b1282f;
    border: none;
    width: fit-content;
    margin: 0 auto;
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px 20px;
}
.game{
    width: 60vw;
    height: 80vh;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 3rem;
    position: relative;
}
.player1{
    background-color: #d6a4af;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.style{
    background-color: #b1282f;
    color: #fff;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50px;
    /* margin-top: -20px; */
}
.player1,.player2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding-top: 4.5rem;
    visibility: hidden;
}
.player1 h1,.player2 h1{
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 30px;
}
.player1 h3,.player2 h3{
    font-size: 4rem;
    color: #bf2e57;
    font-weight: 300;
}
#current{
    background-color: #bf2e57;
    margin: 0 auto;
    width: fit-content;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding: 1rem 1rem 0rem 1rem;
}
#current2{
    background-color: #bf2e57;
    margin: 0 auto;
    width: fit-content;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding: 1rem 1rem 0rem 1rem;
}
#current h2, #current2 h2{
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 1rem;
}
#current h5,#current2 h5{
    font-size: 34px;
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    font-weight: 100;
}
.player2{
    background-color: #ae6d8d;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buttons{
    display: flex;
    position: absolute;
    padding-top: 20px;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
}
#newGame,#rollDies,#hold,#reset{
    background-image: linear-gradient(to right,#f6f0f2,#d1c7ca);
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
}
#reset{
    visibility: hidden;
}
#Dies{
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
}
#Dies img{
    width: 100px;
    margin: auto;
}
.rollandHold{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: .5rem;
    visibility: hidden;
}
.newGameAndReset{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#newGame h4,#rollDies h4,#reset h4{
    font-weight: 600;
    align-self: center;
}
#reset h4{
    margin-left: 15px;
}
#newGame img,#rollDies img,#hold img,#reset img{
    width: 20px;
    margin-right: 10px;
}
#hold h4{
    margin-left: 15px;
}
.wining{
    color: #fff;
    position: absolute;
    top: 15rem;
    visibility: hidden;
}
.wining h2{
    letter-spacing: 2px;
    font-size: 2rem;
}

